@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.grid-item {
    padding-bottom: 10px;
    margin: 2%;
    width: 25%;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 15px;
    transform: scale(1.0);
    padding-bottom: 10px;
}

.grid-item:hover .card-img {
    transform: scale(1.15);
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 15px;
}

.card-header {
    font-size: 1.9rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
    margin-left: 20px;
    margin-bottom: 0px;
}

.grid-item:hover .card-header {
    font-size: 1.9rem;
    font-weight: 700;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
    margin-left: 20px;
    margin-bottom: 0px;
}

.card-text {
    font-size: 18px;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #a225dc;
    margin-bottom: 2.5rem;
    font-style: italic;
    margin-left: 40px;
    opacity: 70%;
}

@media only screen and (max-width: 60em) {
    body {
        padding: 3rem;
    }
    .grid {
        grid-gap: 3rem;
    }
}